terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.env
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/terraform.tfvars.json
terraform/gcp-credentials.json
